/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
  }
  
  /* Container for the book shop */
  h3 {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-top: 20px;
  }
  
  .bookContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 120px;
  }
  
  .bookCard {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    cursor: pointer;
  }
  
  .bookCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .bookCard img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
  }
  
  .bookDetails {
    padding: 15px;
    text-align: center;
  }
  
  .bookDetails p {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 10px;
  }
  
  .bookDetails strong {
    display: block;
    font-size: 1.2rem;
    color: #f09d51;
    margin-bottom: 10px;
  }
  
  .bookDetails p span {
    font-weight: bold;
  }
  
  button {
    display: block;
    margin: 10px  auto;
    padding: 10px 20px;
    background-color: #f09d51;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #d48135;
  }
  
  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  input:focus {
    border-color: #6a5acd;
    box-shadow: 0px 0px 8px rgba(106, 90, 205, 0.8);
  }
  
  input:hover {
    border-color: #5a5a5a;
  }
  
  input::placeholder {
    color: #aaa;
    font-style: italic;
  }
  
  input:active {
    background-color: #f5f5f5;
  }
  
  .bookDetailsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .bookDetailsPage img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .bookDetailsPage p {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .bookDetailsPage strong {
    font-size: 20px;
    color: #333;
  }
  